.container{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    select{
        width: 20%;
        display: flex;
        margin-top: 1rem;
        padding: 0.5rem;
        border: 2px solid var(--green-000);
        outline: none;
        font-family: 'Assistant';
        @media screen and (max-width: 600px) {
            width: 40%;
          }
        option{
            font-weight: 600;
        }
    }
    h1{
        margin-top: 1rem;
        color: var(--blue-000);
        @media screen and (max-width: 800px) {
            font-size: 16px;
          }
    }
}


.content{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin-bottom: 1rem;
    @media screen and (max-width: 800px) {
       width: 80%;
      }
}